<main  class="relative overflow-hidden">

  <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
    <div class="mx-auto text-center ">

      <h1
        class="text-emerald-50 font-bold font-mono md:text-6xl text-3xl tracking-tight">
        Home Foresting
      </h1>
    </div>

    <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
      <img
        class="object-cover object-center w-full rounded-lg h-96 shadow-xl shadow-emerald-50/30"
        src="https://blogs.ifas.ufl.edu/browardco/files/2022/08/jab3header.png"
        alt="jaboticaba"
      />
      <div class="block mt-2 text-sm antialiased font-mono leading-normal text-center text-emerald-50">
        Jaboticaba (Source: Univeristy of Florida Blogs)
      </div>
    </div>

    <p class="text-emerald-50 font-mono md:text-xl tracking-tight">
       Hi. My name is Ansh, and I enjoy working with and observing plants of all types. 
       Mangoes, orchids, raspberries, and tomatoes, I grow them all.
       I am writing this blog with the intention of sharing my growing experiences, knowledge, and 
       passion for plants with you all in a way that balances science, personal experience, and 
       easily understandable English. Enjoy! 
    </p>
    </div>

    <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
      <div class="mx-auto text-center ">
        <h1
          class="text-emerald-50 font-bold font-mono md:text-3xl text-4xl tracking-tight">
          Rare & Tropical Fruit
          <br> </br>
        </h1>
      </div>
      <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
        <img
          class="object-cover object-center w-full rounded-lg h-96 shadow-xl shadow-emerald-50/30"
          src="https://126136361.cdn6.editmysite.com/uploads/1/2/6/1/126136361/s268168041558562833_p78_i8_w960.jpeg"
          alt="lemondrop mangosteen"
        />
        <div class="block mt-2 text-sm antialiased font-mono leading-normal text-center text-emerald-50">
          Lemondrop Mangosteen (Source: Flying Fox Fruits)
        </div>
      </div>
      <p class="text-emerald-50 font-mono md:text-lg text-lg tracking-tight">
        This section of the blog is the quantum-physics of gardening: it's tough, but it is so damn interesting when you start.
        It's weird how the world works, since a rare fruit for myself could be a common occurence for someone from another part of the world,
        but in this case I mean rare or exotic fruit relative to the western world. I'm also tying tropical fruit into this category, since 
        most of the rare fruit in this section happen to be from the tropics, where biodiversity is high but western knowledge is low.
      </p>
      </div> 

      <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
      <div class="mx-auto text-center ">
        <h1
          class="text-emerald-50 font-bold font-mono md:text-3xl text-4xl tracking-tight">
          Garden Vegetables
          <br> </br>
        </h1>
      </div>
      <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
        <img
          class="object-cover object-center w-full rounded-lg h-96 shadow-xl shadow-emerald-50/30"
          src="https://selfsufficientme.com/wp-content/uploads/2019/04/birdies_raised_garden_bed_original_sweet_potato_620.jpg"
          alt="raised bed"
        />
        <div class="block mt-2 text-sm antialiased font-mono leading-normal text-center text-emerald-50">
          Raised Garden Bed (Source: Self Sufficient Me)
        </div>
      </div>
      <p class="text-emerald-50 font-mono md:text-xl tracking-tight">
        The garden section of this blog is supposed to reflect the garden section at your local hardware store. Simple, but effective and producing 
        plants, tools, and materials. From bread-and-butter staple crops like tomatoes and peppers to more interesting vegetables like jicama and some
        hilarious fails along the way, this section plans to discuss it all.
      </p>
      </div>


      <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
      <div class="mx-auto text-center ">
        <h1
          class="text-emerald-50 font-bold font-mono md:text-3xl text-4xl tracking-tight">
          Mixed Blooms
          <br> </br>
        </h1>
      </div>
      <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
        <img
          class="object-cover object-center w-full rounded-lg h-96 shadow-xl shadow-emerald-50/30"
          src="https://cdn11.bigcommerce.com/s-52h2v/images/stencil/1280x1280/products/1059/3991/Thai-Naranja_21A7382__82614.1621358455.jpg?c=2"
          alt="plumeria"
        />
        <div class="block mt-2 text-sm antialiased font-mono leading-normal text-center text-emerald-50">
          Plumeria (Source: Florida Colors Nursery)
        </div>
      </div>
      <p class="text-emerald-50 font-mono md:text-xl tracking-tight">
        Flowers are a universal symbol of love and peace, so why not grow some at home!
        Flowers come in such a wide range of shapes, sizes, colors, and scents, but differences aside they all exist to attract pollinators 
        and spread their seed. This section plans to cover some of the popular plants grown for their flowers and discuss carring for and 
        using these blooms to best potential. 
      </p>
      </div>


      <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
      <div class="mx-auto text-center ">
        <h1
          class="text-emerald-50 font-bold font-mono md:text-3xl text-4xl tracking-tight">
          Green Thumb
          <br> </br>
        </h1>
      </div>
      <div class="grid min-h-[140px] place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
        <img
          class="object-cover object-center max-w-md rounded-lg shadow-xl shadow-emerald-50/30"
          src="https://img.buzzfeed.com/buzzfeed-static/static/2018-01/26/14/asset/buzzfeed-prod-fastlane-02/sub-buzz-4909-1516994733-1.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto"
          alt="black thumb meme"
        />
        <div class="block mt-2 text-sm antialiased font-mono leading-normal text-center text-emerald-50">
          (Source: BuzzFeed)
        </div>
      </div>
      <p class="text-emerald-50 font-mono md:text-xl tracking-tight">
        This short sections aims to deal with a large stigma and superstition that exists in the gardening world: having a green or a black thumb.
        Maturing as a gardener is realizing that there is no such thing as either, and that a "green thumb" is really just a 
        "black thumb" who didn't give up. More on this topic in this section.  
      </p>
      </div>


    <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
    <div class="mx-auto text-center ">
      <h1
        class="text-emerald-50 font-bold font-mono md:text-3xl text-4xl tracking-tight">
        About Me
        <p> <br> </p>
      </h1>
    </div>

    <p class="text-emerald-50 font-mono md:text-xl tracking-tight">
      My name is Ansh and I am a data science student at UC San Diego (Warren College!). I am also minoring in mathematics, cognitive science, and supply chain (I enjoy giving myself pain).
      Outside of gardening, I enjoy playing sports and I'm a big Golden State Warriors and Seattle Seahawks fan. Learn more about me through my personal website linked below!
      <br> </br>
      My interest in plants began through my parents, who planted vegetables and flowers in our garden yearly, and I was laboriously tasked with watering (occassionally).
      At this point, gardening was a mere chore with pesky insects and the beating sun, but during the pandemic I found a certain peace yet excitement from plants.
      From sticking toothpicks in avocado pits to bidding on jaboticabas via eBay with my brother, my interest gradually rose and I fell down a rabbit hole of trying to 
      catch 'em all. Now, I am lucky enough to have over 200+ plant-children and have my garden certified as a National Wildlife Habitat. 
      <br> </br>
      Over the past few years, I've been lucky enough to meet and interact with many new people through gardening. I've been able to ask and answer questions through local Facebook Groups, 
      made friends through plant-talks at university, and even made some money selling, trading, and giving away propogations from my collection. 
      I look forward to developing new connections through attedning more CA Rare Fruit Grower events and by sharing information through this blog.
   </p>
    </div>

  </div>
</main>
