<footer >
  <div class="items-center text-center 2xl:max-w-7xl lg:px-16 md:px-12 mx-auto px-8 w-xl xl:px-36">
    <div class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div class="lg:text-center lg:mx-auto">
        <div class="flex items-center text-negroni-500">
          <div class="lg:text-center lg:mx-auto">
            <div class="flex items-center text-white">
              <div class="lg:text-center lg:mx-auto">
                <p class="font-bold italic lg:mx-auto lg:text-xl text-2xl">
                  Keep planting.
                </p>
                <p class="text-sm mt-1 font-mono">
                  Produce of Fremont, CA <br />by
                  <a href="#" class="font-mono underline hover:text-negroni-500 duration-200">
                    Ansh Bhatnagar
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav class="flex gap-8 mt-11">
          <a href="https://www.instagram.com/homeforesting/" class="text-emerald-600  h-8 delay-150  font-mono hover:text-tomato-500  text-sm transition-colors">
           Instagram
          </a>
          <a href="https://www.facebook.com/HomeForesting" class="text-emerald-600  h-8 delay-150  font-mono hover:text-tomato-500  text-sm transition-colors">
            Facebook
           </a>
           <a href="anshbhatnagar1612@gmail.com" class="text-emerald-600  h-8 delay-150  font-mono hover:text-tomato-500  text-sm transition-colors">
            Gmail
          </a>
          <a href="https://github.com/Anshu-b/home-foresting" class="text-emerald-600  h-8 delay-150  font-mono hover:text-tomato-500  text-sm transition-colors">
            Github
          </a>

          </a>
        </nav>
      </div>
    </div>
    <div class="flex flex-col border-t border-negroni-500/10 lg:mx-auto lg:text-center md:pt-6 pb-12 pt-8">
      <p class="text-emerald-600 font-mono md:mt-0 mt-6 text-sm">
        In association with Arhan Chaudhary, mycorrhiza, pollinators, & my parents' wallets
      </p>
    </div>
  </div>
</footer>
